.well {
  background-color: #e9ecef;
}

.aboutMeContainer {
  background: url("/my-website-reactjs/images/Austin_Evening.jpg") no-repeat
    center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 80px 0px 80px 0px;
  margin-top: -50px;
}

p {
  font-size: 13px;
}
